body {
	background-color: #f5f0e4
}

header {
	font-weight:bold;
        font-size: 45px;
        font-family: Sans-serif, Sans, Serif;
        padding: 20px 10px 5px 5px;
	margin: 0 0 20px 0;
     	background-color: white;
      	position: fixed;
      	border: 1px white;
        width: 100%;
	height: 75px;
	z-index: 1;
}

img {
	position: relative;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 100px;
	top: 100px;
}

h1 {
	text-align: center;
	position: relative;
	top: 120px;
	margin-left: auto;
	margin-right: auto;
	font-family: Sans-serif, Sans, Serif;
	font-size: 10vmin;
	margin-bottom: 50px;
}

section.body {
	position: relative;
	top: 100px;
	width: 25%;
	length: 400px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: Sans-serif, Sans, Serif;
	font-size: 20px;
}

section#column1 {
	float: left;
	margin-right: 50px;
	text-align: right;
}

section#column2 {
	float: right;
	margin-left: 50px;
}